
/*Need to hit shift f5 to reset browser cache*/

html, body {
    width: 1200px;
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    background: #f4f4f4;
	color: #333;
	line-height: 1.6;
    }
    form {
    border: 5px solid #f1f1f1;
    width: 100%;
    }
    input[type=text], input[type=password] {
    width: 50%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    #submit {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;

    }
    
    h1 {
    text-align:start;
    font-size:30px;
    }
    button:hover {
    opacity: 0.8;
    }
    .formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
    }
    .container {
	align-content: center;
    padding: 16px 0;
    text-align:center;
    }
    span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
    }
    /* Change styles for span on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
        }
    }

form {
    background-color: #e4e2e2c2;
    padding: 10px;
    width: 100%;
}

.container {
    background-color: rgb(238, 133, 133);
    display: flex;
}

.row {
    display: flex;
    align-items:flex-start;
    gap: 10px;
}


div[name="rowcontainer"] {
    display: flex;
}

.subHeader {
    font-size: 1.5rem;
}


.pagetitle {
    align-self: flex-start;
}

.catCollapsible {
    background-color: #4c82e1fc;
    color: #444;
    cursor: pointer;
    overflow:hidden;
    margin: 2px;
    width: 700px;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 5px;
    border-style: none;
    height: 4rem;
    display: flex;
    align-content: flex-start;
}

.catHeader {
    font-size: 20px;
    height: 100%;
    margin-left: 23px;
    color: white;
}

.subCollapsible {
    background-color: #81adf8fc;
    color: #444;
    cursor: pointer;
    overflow:hidden;
    margin: 2px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 2.5px;
    height: 4rem;
    margin-left: 40px;
}

.subHeader {
    font-size: 20px;
    height: 100%;
    margin-left: 20px;
    color: white;
}

a {
    width: 100%;
}

.rowcontainer {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 700px;
    padding:5px;
    margin:5px;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 40px;
    align-items:baseline;
    align-content: center;
    justify-content:space-around;
    height: auto;
}

.cb {
width: 20px;
align-self: baseline;

}

.criteria {
    flex: 2;
    word-break:normal;
    word-wrap: break-word;
    padding:3px;
    margin: 5px;
    padding: 3px;
}

.comment {
    flex: 5;
    word-wrap: break-word;
    border-style: ridge;
    border-width: 1px;
    overflow: auto;
    margin: 5px;
    padding: 3px;
    align-self: baseline;
    background-color: white;
    height: 150px;
}

.reference {
    word-wrap: break-word;
    width:80px;
    font-size: 0.8rem;
}

input[type=text] {
        ovrflow-wrap: break-word;
    }
