{% extends "base.html" %}

{% block content %}
    <h1>New Project</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.project_name.label }}<br>
            {{ form.project_name(size=32)}} 
            {% for error in form.project_name.errors %}
            <span style="color": red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.project_number.label }}<br>
            {{ form.project_number(size=12) }} 
            {% for error in form.project_number.errors %}
            <span style="color": red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.recipient.label }}<br>
            {{ form.recipient(size=30) }} 
            {% for error in form.project_number.errors %}
            <span style="color": red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.disturbed_area.label }}<br>
            {{ form.disturbed_area(size=30) }} 
            {% for error in form.project_number.errors %}
            <span style="color": red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.bmp_recording_reqd() }}
            {{ form.bmp_recording_reqd.label }}<br>
            {% for error in form.project_number.errors %}
            <span style="color": red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
