{% extends "base.html" %}
{% block content %}
<style>
    .row {
    display: flex;
    flex-flow: row nowrap;
    align-items:baseline;
    align-content: left;
    height: auto;
}
</style>
{% for project in projects %}
    <div class="row">
    <input class="cb" name="checkbox" type="checkbox" id="{{loop.index0}}" spellcheck="false">
    <a id="project-{{loop.index0}}" href="{{ url_for('checklist', username=username, projectname=project.name) }}"><p>{{ project.name}} - DSC # {{ project.dsc_number }}</p></a>
    </div>
    </form>
    <hr>
{% endfor %}
</ul>
    <a href="{{ url_for('new_project') }}">Create New Project</a>
{% endblock %}
