<!DOCTYPE html>
<html lang="en">
  <link rel="icon" type="image/png" href="https://apache.org/favicons/android-chrome-192x192.png">
  <link rel="stylesheet" type=text/css href="static/css/main.css">
  <head>
    <meta charset="utf-8">
    <title>SWM Reviewer Checklist</title>
  </head>
  <body>
    <div id="container">
    <h1 class="pagetitle">SWMRC</h1>
    <div>
      {% if current_user.is_authenticated %}
          <a href="{{ url_for('projectlist') }}">Project List</a> <!--use url_for('xxx') instead of "/xxx"--> 
          <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
          <a href="{{ url_for('landing') }}">Home</a> <!--use url_for('xxx') instead of "/xxx"--> 
          <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock%}
    
  </body>
  
</html>
